# About Me

## {{ personal_info.name }} - {{ personal_info.job_title }}

Hello there 👋, I’m {{ personal_info.name }}, a seasoned {{ personal_info.job_title }} based in {{ personal_info.city }}, 
{{ personal_info.state }}. With extensive experience in full-stack development, I specialize in Python and JavaScript, building 
scalable, high-performance web applications that are both efficient and user-focused. My expertise spans across both frontend and 
backend development, where I thrive on integrating complex components to deliver seamless user experiences.

I’m passionate about solving challenging technical problems and driving innovation, with a proven track record of optimizing workflows, 
reducing system complexity, and leading teams to success. My strong technical proficiency, paired with leadership skills, enables me to 
not only write clean, maintainable code but also guide development teams in delivering impactful solutions that align with business goals.

When I’m not coding, I’m deeply interested in {{ personal_info.interests | join(', ') }}, and I’m always excited to learn about new trends 
in {{ personal_info.passions | join(', ') }}. I strive to bring that same curiosity and passion into my work, continually pushing boundaries 
to create better, smarter solutions.

### 🌐 Connect with me
- [![Twitter](https://img.shields.io/badge/Twitter-1DA1F2?style=for-the-badge&logo=twitter&logoColor=white)](https://twitter.com/{{ personal_info.twitter_handle }})
- [![LinkedIn](https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white)](https://linkedin.com/in/{{ personal_info.linkedin_username }})
- [![Medium](https://img.shields.io/badge/Medium-12100E?style=for-the-badge&logo=medium&logoColor=white)](https://medium.com/@{{ personal_info.medium_username }})

### ⚙️ Tech Stack
Here are some technologies I enjoy working with:
{% for tech in personal_info.tech_stack -%}
- ![{{ tech }}](https://img.shields.io/badge/-{{ tech }}-05122A?style=flat&logo={{ tech }})
{% endfor %}

{% include 'articles.md.j2' %}

{% include 'updated.md.j2' %}

{% include 'interests.md.j2' %}